{% resource 'smartlane/app/bower_components/angular/angular.js' %}
{% resource 'smartlane/app/bower_components/angular-route/angular-route.js' %}
{% resource 'smartlane/app/bower_components/angular-resource/angular-resource.js' %}
{% resource 'smartlane/app/bower_components/angular-translate/angular-translate.js' %}
{% resource 'smartlane/app/controllers.js' %}
{% resource 'smartlane/app/services.js' %} 
{% resource 'smartlane/app/translations.js' %} 
{% resource 'smartlane/app/app.js' %}

{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Analyses') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Analyses') }}{% endblock %}</h1>
  <div class="slapp" ng-app="analysesApp" class="no-js">
    <div ng-view></div>
  </div>
{% endblock %}
