{% ckan_extends %}

{% block package_description %}
  <h1>
  {% block page_heading %}
    {# {% if h.check_access('package_update', {'id':pkg.id }) %}
      {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn pull-right', icon='wrench' %}
    {% endif %} #}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
          {{ _('Private') }}
      </span>
    {% else %}
      <span class="dataset-public label label-inverse pull-right">
        <i class="icon-globe"></i>
          {{ _('Public') }}
      </span>
    {% endif %}  
    {{ pkg.title or pkg.name }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
    {% endblock %}
  </h1>
  {% block package_notes %}
    {% if c.pkg_notes_formatted %}
      <div class="notes embedded-content">
        {{ c.pkg_notes_formatted }}
      </div>
    {% endif %}
    {# Attention: demo purposes only! #}
    {% if pkg.name == 'mobiltum-race' %}
    <div class="container">
        {% for feature_row in h.get_homepage_resource_views() | batch(2) %}
          <div class="row-fluid">
              {% for feature in feature_row %}
              <div class="span6" style="padding-right: 50px;">
              <h2 style="margin-bottom:0; position: absolute;">{{ feature['resource_view']['title'] }}</h2>
                      {% snippet 'package/snippets/resource_view.html',
                          resource_view = feature['resource_view'],
                          resource = feature['resource'],
                          package = feature['package'],
                          simple = True
                      %}
              </div>
              {% endfor %}
          </div>
        {% endfor %}
    </div>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block package_additional_info %}
{% endblock %}
