{% import 'macros/form.html' as form %}
{% set types = [('ANPR', 'anpr'), (_('Detector'), 'detector'), (_('Locations'), 'geo'), ('FCD', 'fcd')] %}

{% ckan_extends %}

{% block basic_fields %}
  {{ super() }} 
  
  {% block basic_fields_type %}
    <div class="control-group">
    {% set error = errors.type_id %}
    <label class="control-label" for="field-type">{{ _("Data Type") }}</label>
    <div class="controls">
      <select id="field-type" name="type_id" data-module="autocomplete">
      {% for type_desc, type_id in types %}
        <option value="{{ type_id }}" {% if data.get('type_id', 'notspecified') == type_id %}selected="selected"{% endif %}>{{ type_desc }}</option>
      {% endfor %}
      </select> 
  {% endblock %}
  
{% endblock %}

