{% ckan_extends %}

{% block resource_view %}
<a class="btn pull-right" href="/smartlaneweb/report/image?viewId={{ resource_view['id'] }}&resourceId={{ resource['id'] }}&apiKey={{ c.userobj['apikey'] }}&desiredFileNamePrefix={{ resource_view['title'] }}">
  <i class="icon-download"></i>
  {% trans %}Save Image{% endtrans %}
</a>
<a class="btn pull-right" target="_blank" href="{{ h.url('resource_view', id=package['name'], resource_id=resource['id'], view_id=resource_view['id'], qualified=True) }}">
  <i class="icon-fullscreen"></i>
  {% trans %}Full screen{% endtrans %}
</a>
{{ super() }}
{% endblock %}
