{% ckan_extends %}

{% set types = [(_('Detector (Interval'), 'detector'), (_('Map Objects'), 'geo'), (_('Detector (Raw'), 'detector_raw'), ('ANPR log', 'anpr'), ('Map', 'map'), ('FCD/GPS Tracks', 'fcd')] %}

{% block basic_fields %}

{% block basic_fields_url %}
{% import 'macros/form.html' as form %}
{% set is_upload = (data.url_type == 'upload') %}
{{ form.image_upload_ext(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
upload_label=_('File'), url_label=_('URL')) }}
{% endblock %}

{% block basic_fields_name %}
{{ super() }}
{% endblock %}

{% block basic_fields_description %}
{{ super() }}
{% endblock %}

{% block basic_fields_format %}
{{ super() }}
{% endblock %}

  {% block basic_fields_type %}
    <div class="control-group">
    {% set error = errors.type_id %}
    <label class="control-label" for="field-type">{{ _("Data Type") }}</label>
    <div class="controls">
      <select id="field-type" name="type_id" data-module="autocomplete">
      {% for type_desc, type_id in types %}
        <option value="{{ type_id }}" {% if data.get('type_id', 'notspecified') == type_id %}selected="selected"{% endif %}>{{ type_desc }}</option>
      {% endfor %}
      </select> 
  {% endblock %}
  
{% endblock %}

