{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
{% if 'parent' in res %}
  {# Until this has some use, hiding #}
  <ul style="visibility: hidden; height: 0px; ">
  <li class="resource-item" style="list-style: none;" data-id="{{ res.id }}">&#x25BA;
{% else %}
  <li class="resource-item" data-id="{{ res.id }}">
{% endif %}

  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(80) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=120) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="icon-compass"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.has_views %}
            <i class="icon-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="icon-info-sign"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.format == 'GeoJSON' and not pkg.private %}
      <li>
        <a href="http://geojson.io/#data=data:text/x-url,{{ res.url }}" target="_blank">
          <i class="icon-share"></i>
          {{ _('Visualize (geojson.io)') }}
        </a>
      </li>
      {% endif %}
      {% if res.format in ('GeoJSON', 'CSV', 'TAB', 'TSV', 'SHAPE', 'KML', 'KMZ', 'XLS', 'XLSX', 'GPX', 'OSM', 'ODS') and not pkg.private %}
      <li>
        <a href="http://oneclick.cartodb.com/?file={{ res.url }}&provider=smartlane.io&logo=https://smartlane.io/base/images/smartlane.png" target="_blank">
          <i class="icon-share"></i>
          {{ _('Visualize (cartoDB)') }}
        </a>
      </li>
      {% endif %}
      {% if res.url and h.is_url(res.url) %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.has_views %}
            <i class="icon-download"></i>
            {{ _('Download') }}
          {% else %}
            <i class="icon-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if res.datastore_active %}
      <li>
        <a href="/api/action/datastore_search?resource_id={{ res.id }}&q=" target="_blank"><i class="icon-cloud-download"></i>{{ _('Export from DB') }}</a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="icon-edit"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
  {% endblock %}
  {% block resource_item_analyze %}
{# Temporarily disabling
{% if not url_is_edit and res.available_analyses|length > 0 %}
# There are so many customizations to the dropdown buttons compared to standard bootstrap, that it isn't worth the effort trying to join the buttons together nicely as shown here: http://getbootstrap.com/components/#btn-groups-nested. In fact multiple buttons here seems to be explicitly not wanted, hence the nasty inline positioning #
<div class="dropdown btn-group" style="right: 140px;">
<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
<i class="icon-bar-chart"></i>
{{ _('Analyze') }}
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
{% block resource_item_analyze_links %}
{% for analysis in res.available_analyses %}
<li>
# TODO: API needs to give more details of analyses and we should use i18n codes and titles and so on #
<a href="/dataset/{{ pkg.name }}/analyses#/new/{{ analysis }}">
<i class="icon-bar-chart"></i>
{{ _(analysis) }}
</a>
</li>
{% endfor %}
{% endblock %}
</ul>
</div>
{% endif %}
#}
{% endblock %}
</li>

{% if 'parent' in res %}
  </ul>
{% endif %}

