.leaflet-container .leaflet-control-attribution {
  background: transparent;
}
.alert .close {
  visibility: hidden;
}

.btn {
  margin-left: 10px;
}

.controls > .btn {
  margin-left: 0px;
}

.wrapper {
  border: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #555555;
  *background-color: #0D0D0D;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #ffffff \9;
}

a, a:visited {
color: #e35d21;
}

a.btn, a:visited.btn {
color: #333333;
}

a.label, a:visited.label, a.btn-primary, a:visited.btn-primary {
color: #ffffff;
}
 
a:hover,
a:focus {
color: #333;
}

input[type=checkbox] {
  top: 0px;
}

.slapp label::after {
    content: "";
}

.slapp a.btn {
    min-width: 30%;
}
 
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #e35d21;
}
 
 
 
h1, h2, .search-form h2, h3, .orangetext a, .orangetext, .toolbar .breadcrumb a  {
  color: #e35d21;
}
 
 
 
.blacktext, .site-footer label {
  color: #000000;
}
 
.masthead, .homepage, header.account-masthead {
  background: #eeeeee url("../../../base/images/bg.png");
}
[role=main] .site-footer { 
  min-height: 10px;
}
.module-content.box,.box.stats {
display: none;
}
 
.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
color: #000;
}
 
html, body {
  background-color:#ffffff;
  color: #000000;
}
 
a:hover, a:focus {
  text-decoration: none;
}
 
.homepage .module-search {
  background: #959595;
}

.module-content {
  background: #ffffff;
}
 
.homepage .module-search .tags {
  background: url('../../../base/images/bg.png') repeat scroll 0% 0% #EEE;
}
 
.main.homepage {
  border-top: 0px solid #cccccc;
  padding-bottom: 20px;
  padding-top: 20px;
}
 
 
 
.masthead hgroup h2 {
  color: #e35d21;
  bottom: -9px;
}
 
.masthead hgroup h1 {
  font-size: 25px;
}
 
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
  background-color: #ffffff;
  color: #000000;
  border: none;
}
 
.site-footer, .site-footer a, .site-footer label, .site-footer small {
  background: #FFFFFF;
}
 
.attribution .ckan-footer-logo {
  background: #999999 url("../../../base/images/ckan-logo-footer.png") no-repeat center;
  padding: 5px;
}
 
li[role="main"], .main {
  background: none;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
}
 
.hero .module-dark .module-content {
  background-color:#ffffff;
}
 
.hero .tags {
  background-color:#6893BD;
}
 
.hero {
  background: none;
  min-height: 280px;
  padding: 20px 0;
}
 
.search-form {
  margin: 0px -25px 20px -25px;
  background: #eeeeee;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
 
.wrapper {
  background: #ffffff;
}
 
.account-masthead .account ul li a {
    color: #000000;
}
 
.account-masthead .account ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}
 
.account-masthead .account ul {
  background: #ffffff;
}
 
.account-masthead .account .notifications a span {
  background-color: #000000;
  color: #eeeeee;
}
 
.account-masthead .account .notifications a:hover span {
  background-color: #000000;
}
 
.btn-primary {
  margin-left: 0px;
  background-image: linear-gradient(to bottom,#999999,#555555);
  background-color: #999999;
  background-image: -moz-linear-gradient(top, #999999, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#555555));
  background-image: -webkit-linear-gradient(top, #999999, #555555);
  background-image: -o-linear-gradient(top, #999999, #555555);
  background-image: linear-gradient(to bottom, #999999, #555555);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff555555', GradientType=0);
  border-color: transparent;
  *background-color: #555555;
}

