<div role="main" class="hero">
  <div class="container">
    <center>
      <br><br><br><br>
        <img src="/static/logo.png" id="logo" /><br><br>
        We are alpha testing. Want to help? Click on <a href="http://www.smartlane.de/signup">{% trans %}register{% endtrans %}</a> to get an account.<br>Not sure? Check out what SMARTLANE can do for you on our <a href="http://www.smartlane.de">website</a> or by checking out our <a href="/dataset">examples</a>.
        <br><br>
        <a class="btn btn-primary" href="/dataset">{% trans %}Examples{% endtrans %}</a>
        <a class="btn btn-primary" href="http://www.smartlane.de/signup">{% trans %}Register{% endtrans %}</a>
        <a class="btn btn-primary" href="/user/login">{% trans %}Log in{% endtrans %}</a>
      <br><br><br><br>
    </center>
  </div>
</div>
